* {
	margin: 0;
	padding: 0;
	//border: solid red 1px;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700&display=swap');

body {
	font-family: 'Crimson Text', serif;
}

*:focus {
	outline: none;
}

.mainApp {
}

@media (min-width: 1080px) {

}