.books {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 210px;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	img {
		width: 80%;
		box-shadow: 5px 5px 20px black;
		display: block;
	}

}

@media (min-width: 1080px) {
	.books {

		margin-top: 10vh;
		align-items: flex-start;
		padding: 40px;

		a {
			width: 20vw;
		}

		img {
			width: 100%;
			transition: transform 250ms ease-in-out;
		}

		img:hover {
			transform: scale(1.1);
		}

	}
}