footer {
	bottom: 0;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: white;
	box-shadow: 0 0 10px black;
}

footer > * {
	margin: 8px;
}

@media (min-width: 1080px) {

	footer {
		height: 6vh;
	}

}